<div class="main_page_class">
   <div class="home">
       <app-navbar [value] = 3></app-navbar>
        <div class="brand_name">
          <div class="brand_name_contain_name">THE MENU</div>
        </div>
   </div>

   <div class="container">
    <div class="row">
      <div class="col-6">
           <div class="menu_info">
              Chef Michel Paris Jr and Head Chef Steve Groves have created a menu of dishe using the finest seasonal produce. Table service throughout for food and drinks. Taking inspiration from around the world, all the dishes on our menu are     
           </div>
           <div class="starts">
              STARTERS
           </div>
           <hr class="seprator">
           <div class="menu_item">
              <div><span class="menu_item_title">Chaat Papdi</span><span class="test">₹27</span>
              </div>
               <div class="ingradients">
                  Fried papdi mixed with onions, tomatoes, mint, tamarind & yogurt
               </div>
           </div>
           <div class="menu_item">
              <div><span class="menu_item_title">Chana Chaat</span><span class="test">₹34</span>
              </div>
               <div class="ingradients">
                  Chickpeas mixed with onions, tomatoes, mint, tamarind & yogurt
               </div>
           </div>
           <div class="menu_item">
              <div><span class="menu_item_title">Vegetable Pakora</span><span class="test">₹44</span>
              </div>
               <div class="ingradients">
                  	Mixed vegetables dipped in chickpea batter and deep fried
               </div>
           </div>
            <div class="menu_item">
              <span class="wrapper">chef selection</span>
              <span class="special"></span>
              <div><span class="menu_item_title">Mixed Platter</span><span class="test">₹44</span>
              </div>
               <div class="ingradients">
                  Samosa, vegetables, chicken, paneer, shrimp pakora & papadom
               </div>
           </div>
           <div class="menu_item">
              <div><span class="menu_item_title">Paneer Pakora</span><span class="test">₹48</span>
              </div>
               <div class="ingradients">
                  	Homemade cheese dipped in chickpea batter and fried
               </div>
           </div>
           <div class="menu_item">
              <div><span class="menu_item_title">Chicken Pakora</span><span class="test">₹74</span>
              </div>
               <div class="ingradients">
                  	Chicken dipped in chickpea batter and fried
               </div>
           </div>
           <div class="menu_item">
              <div><span class="menu_item_title">Mixed Vegetable Platter</span><span class="test">₹74</span>
              </div>
               <div class="ingradients">
                  Samosa, paneer pakora, vegetables & papadom (2 pieces of each)
               </div>
           </div>
      </div>
      <div class="col-6">
          <div class="menu_info">
             designed for sharing. Using incredible British produce, whole animals and fish are butchered and prepared on site every day, and paired with ingredients so good they really speak for themselves.    
           </div>
           <div class="starts">
              SEAFOOD SPECIALIES
           </div>
           <hr class="seprator">
           <div class="menu_item">
              <div><span class="menu_item_title">Fish Curry</span><span class="test">₹274</span>
              </div>
               <div class="ingradients">
                 Seasonal white fish sautéed with onions in a curry sauce
               </div>
           </div>
           <div class="menu_item">
              <div><span class="menu_item_title">Fish Masala</span><span class="test">₹290</span>
              </div>
               <div class="ingradients">
                 Fish cooked in fried onions, tomatoes, and garlic in medium spiced sauce
               </div>
           </div>
            <div class="menu_item">
              <div><span class="menu_item_title">Shrimp Curry</span><span class="test">₹390</span>
              </div>
               <div class="ingradients">
                Jumbo shrimp sautéed with onions in a curry sauce
               </div>
           </div>
           <div class="menu_item">
              <div><span class="menu_item_title">Shrimp Vindaloo</span><span class="test">₹330</span>
              </div>
               <div class="ingradients">
                Jumbo shrimp cooked in a hot & sour sauce with potatoes
               </div>
           </div>
           <div class="menu_item">
              <div><span class="menu_item_title">Shrimp Malai </span><span class="test">₹330</span>
              </div>
               <div class="ingradients">
                	Jumbo shrimp sautéed in coconut milk and fresh cream
               </div>
           </div>
           <div class="menu_item">
              <span class="wrapper">NEW</span>
              <span class="special"></span>
              <div><span class="menu_item_title">Fish Green Masala</span><span class="test">₹444</span>
              </div>
               <div class="ingradients">
                  Seasonal white fish, tomatoes and onions in a hot spinach sauce
               </div>
           </div>
      </div>
    </div>
     
</div>
 <!-----lunch-------------------------------------------------->
    <div class="lunch">
      LUNCH
    </div>
<!------------------------------------------------------------->
<div class="container">
  <div class="row">
     <div class="col-6">
           <div class="starts">
              BIRYANI
           </div>
           <hr class="seprator">
           <div class="menu_item">
              <div><span class="menu_item_title">Vegetable Biryani</span><span class="test">₹170</span>
              </div>
               <div class="ingradients">
                  Fresh vegetables in a lightly spiced sauce, with herbs, baked with basmati rice
               </div>
           </div>
           <div class="menu_item">
              <div><span class="menu_item_title">Chicken Biryani</span><span class="test">₹290</span>
              </div>
               <div class="ingradients">
                  Boneless chicken in a ligthly spiced sauce, with herbs, baked with basmati rice
               </div>
           </div>
            <div class="menu_item">
              <div><span class="menu_item_title">Lamb Biryani</span><span class="test">₹290</span>
              </div>
               <div class="ingradients">
                  Tender lamb in a lightly spiced sauce, with herbs, baked with basmati rice
               </div>
           </div>
           <div class="menu_item">
              <div><span class="menu_item_title">Fish Biryani</span><span class="test">₹290</span>
              </div>
               <div class="ingradients">
                 Seasonal white fish sautéed in a lightly spiced sauce, with herbs, baked with basmati rice
               </div>
           </div>
           <div class="menu_item">
              <div><span class="menu_item_title">Shrimp Biryani</span><span class="test">₹290</span>
              </div>
               <div class="ingradients">
                  Jumbo shrimp in a lightly spiced sauce, with herbs, baked with basmati rice
               </div>
           </div>
           
     </div>
     <div class="col-6">
           <div class="starts">
             TANDOORI DELICACIES
           </div>
           <hr class="seprator">
           <div class="menu_item">
              <div><span class="menu_item_title">Tandoori Chicken </span><span class="test">₹130</span>
              </div>
               <div class="ingradients">
                 Spring chicken marinated in yogurt and mild spices
               </div>
           </div>
           <div class="menu_item">
              <div><span class="menu_item_title">Chicken Tikka</span><span class="test">₹290</span>
              </div>
               <div class="ingradients">
                  Boneless chicken in a ligthly spiced sauce, with herbs, baked with basmati rice
               </div>
           </div>
            <div class="menu_item">
              <div><span class="menu_item_title">Chicken Malai Kabab</span><span class="test">₹290</span>
              </div>
               <div class="ingradients">
                  Boneless chicken breast marinated in yogurt, fresh cream & spices
               </div>
           </div>
           <div class="menu_item">
              <div><span class="menu_item_title">Seekh Kabab </span><span class="test">₹290</span>
              </div>
               <div class="ingradients">
                 	(Lamb) marinated minced lamb with onions and herbs
               </div>
           </div>
           <div class="menu_item">
              <div><span class="menu_item_title">Fish Tikka</span><span class="test">₹290</span>
              </div>
               <div class="ingradients">
                 Marinated seasonal fish served with choice of soup
               </div>
           </div>
     </div>
  </div>
</div>


<!-----lunch-------------------------------------------------->
    <div class="lunch2">
     
    </div>
<!------------------------------------------------------------->
<div class="container">
  <div class="row">
     <div class="col-6">
           <div class="starts">
             VEGETABLE SPECIALIES
           </div>
           <hr class="seprator">
           <div class="menu_item">
              <div><span class="menu_item_title">Dal Tadka</span><span class="test">₹170</span>
              </div>
               <div class="ingradients">
                  Red lentils cooked with onion & tomatoes "V"
               </div>
           </div>
           <div class="menu_item">
              <div><span class="menu_item_title">Dal Makhani</span><span class="test">₹290</span>
              </div>
               <div class="ingradients">
                 Lentils and beans cooked in a creamy butter sauce
               </div>
           </div>
            <div class="menu_item">
              <span class="wrapper">RECOMMENDED</span>
              <span class="special"></span>
              <div><span class="menu_item_title">Sabnam Curry </span><span class="test">₹444</span>
              </div>
               <div class="ingradients">
                  Peas and mushrooms in a creamy curry sauce "V"
               </div>
           </div>
           <div class="menu_item">
              <div><span class="menu_item_title">Bhindi Masala</span><span class="test">₹290</span>
              </div>
               <div class="ingradients">
                 Okra sautéed with onions and tomatoes "V"
               </div>
           </div>
           <div class="menu_item">
              <div><span class="menu_item_title">Palak Paneer</span><span class="test">₹290</span>
              </div>
               <div class="ingradients">
                  Fresh chopped spinach and homemade cheese
               </div>
           </div>
           
     </div>
     <div class="col-6">
           <div class="starts">
             LAMB SPECIALIES
           </div>
           <hr class="seprator">
           <div class="menu_item">
              <div><span class="menu_item_title">Goat Curry (with bone)  </span><span class="test">₹130</span>
              </div>
               <div class="ingradients">
                 Cubes of goat sautéed with onions in a curry sauce
               </div>
           </div>
           <div class="menu_item">
              <div><span class="menu_item_title">Lamb Curry</span><span class="test">₹290</span>
              </div>
               <div class="ingradients">
                  Lean cubes of lamb sautéed with onions in a curry sauce
               </div>
           </div>
            <div class="menu_item">
              <div><span class="menu_item_title">Lamb Vindaloo</span><span class="test">₹290</span>
              </div>
               <div class="ingradients">
                  Lightly spiced lamb cooked in a hot & sour sauce with potatoes
               </div>
           </div>
           <div class="menu_item">
              <div><span class="menu_item_title">Lamb Dhansak </span><span class="test">₹290</span>
              </div>
               <div class="ingradients">
                 	Tender pieces of lamb in a medium lentil sauce
               </div>
           </div>
           <div class="menu_item">
              <div><span class="menu_item_title">Rogan Josh</span><span class="test">₹290</span>
              </div>
               <div class="ingradients">
                Tender lamb cooked with yogurt and sautéed in a tomato and garlic sauce
               </div>
           </div>
     </div>
  </div>
</div>
<!-- ---------------------------- -->
<!-----lunch-------------------------------------------------->
    <div class="lunch3">
     
    </div>
<!------------------------------------------------------------->

<div class="container">
  <div class="row">
     <div class="col-6">
           <div class="starts">
             DESSERTS
                        </div>
           <hr class="seprator">
           <div class="menu_item">
              <div><span class="menu_item_title">Gulab Jamun</span><span class="test">₹170</span>
              </div>
               <div class="ingradients">
                 Deep fried milk confection in a sweet syrup (3 pieces)
               </div>
           </div>
           <div class="menu_item">
              <div><span class="menu_item_title">Kheer </span><span class="test">₹290</span>
              </div>
               <div class="ingradients">
                 Rice cooked in flavored milk with nuts and cardamon, served cold
               </div>
           </div>
            <div class="menu_item">
              <div><span class="menu_item_title">Kulfi </span><span class="test">₹444</span>
              </div>
               <div class="ingradients">
                 Homemade sweetened milk ice cream, choice of mango or pistachio
               </div>
           </div>
           <div class="menu_item">
              <div><span class="menu_item_title">Mango Pudding</span><span class="test">₹290</span>
              </div>
               <div class="ingradients">
                Vanilla pudding with fresh mango pulp
               </div>
           </div>
     </div>
     <div class="col-6">
           <div class="starts">
             BEVERGES
           </div>
           <hr class="seprator">
           <div class="menu_item">
              <div><span class="menu_item_title">Mango Lassi</span><span class="test">₹130</span>
              </div>
               <div class="ingradients">
                 Cold sweetened mango and yogurt drink
               </div>
           </div>
           <div class="menu_item">
              <div><span class="menu_item_title">Sweet Lassi</span><span class="test">₹290</span>
              </div>
               <div class="ingradients">
                  Cold sweetened yogurt drink
               </div>
           </div>
            <div class="menu_item">
              <div><span class="menu_item_title">Teas</span><span class="test">₹290</span>
              </div>
               <div class="ingradients">
                  Chai Tea, Spiced Tea, Iced Tea (1 Refill Free)
               </div>
           </div>
           <div class="menu_item">
              <div><span class="menu_item_title">Soda Pop</span><span class="test">₹290</span>
              </div>
               <div class="ingradients">
                 	Coke, Diet Coke, Sprite, Lemonade, Root Beer, Fanta (1 Refill Free)
               </div>
           </div>
     </div>
  </div>
</div>
<!--------------------------------------------->
<div class="champagne">
        <div class="champagne_title">CHAMPAGNE ON US</div>
        <div class="hampagne_text">Every Monday, Tuesday and Wednesday evening, we’re offering groups of 10 or more that book an area in our bar a complimentary bottle of Champagne.
Call our reservations team on (027) 8338 145 for more information.</div>
     </div> 
<!--****************************************************-->
  <app-footer></app-footer>
</div>